<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="admin_style.css">
  </head>

<body class="body">
    
<div class="items">

<button type="button" onclick="window.location.href='admin.html'">BACK</button>
<button type="button" onclick="window.location.href='admin_customer.html'">CUSTOMER INFO</button>
<button type="button" onclick="window.location.href='admin_menu.html'">MENU INFO</button>
    <table>
        <tr>
          <th>Item</th>
          <th>Price (€)</th>
          <th>Image</th>
          <th>Promotions</th>
          <th></th>
        </tr>
        <tr>
          <td>Beef Burger</td>
          <td>4.50</td>
          <td>image_bfburger</td>
          <td>0%</td>
          <td><button type="button" onclick="window.location.href='admin.html'">EDIT</button></td>
        </tr>
        <tr>
          <td>Double Cheeseburger</td>
          <td>6</td>
          <td>image_dbcheese</td>
          <td>10%</td>
          <td><button type="button" onclick="window.location.href='admin.html'">EDIT</button></td>
        </tr>
        <tr>
            <td>Chips</td>
            <td>2.50</td>
            <td>img_chips</td>
            <td>0%</td>
            <td><button type="button" onclick="window.location.href='admin.html'">EDIT</button></td>
          </tr>
      </table> 

    </div>

    <br><br><br>

    <div class="promotions">


    </div>
    


</body>
</html>