<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="login-style.css">
  </head>

<body class="body">
    
	
<div class="login-page">



  <div class="form">
    
    
<h1>ADMIN LOG IN</h1>
    <form>
      <input type="text" placeholder="Admin ID"/>
      <input type="password" id="password" placeholder="Password"/>
      <br>
      <br>
      
        <button type="button" onclick="window.location.href='login.html'">BACK</button>
      
      
      <p class="message"></p>
    </form>

    <form class="admin-form">
      <button type="button" onclick="window.location.href='admin.html'">ADMIN LOG IN</button>
    </form>
  </div>
</div>

  
</body>
</html>