<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="admin_style.css">
  </head>

<body class="body">
    
<div class="items">

<button type="button" onclick="window.location.href='admin.html'">BACK</button>
<button type="button" onclick="window.location.href='admin_customer.html'">CUSTOMER INFO</button>
<button type="button" onclick="window.location.href='admin_menu.html'">MENU INFO</button>
 <table>
        <tr>
          <th>Customer ID</th>
          <th>Times Visited</th>
          <th>Last date visited</th>
          <th>Accumulated Purchases</th>
          <th>Avergage purchase price</th>
          <th></th>
        </tr>
        <tr>
            <td>19232</td>
            <td>12</td>
            <td>22/10/2022</td>
            <td>532.50</td>
            <td>14.50</td>
            <td><button type="button">DELETE USER</button></td>
        </tr>
        <tr>
            <td>123</td>
            <td>34</td>
            <td>25/10/2022</td>
            <td>732.50</td>
            <td>6.50</td>
            <td><button type="button">DELETE USER</button></td>
        <tr>
            <td>94</td>
            <td>180</td>
            <td>22/9/2022</td>
            <td>845.50</td>
            <td>9</td>
            <td><button type="button">DELETE USER</button></td>
        </tr>
      </table> 

    </div>

    <br><br><br>

    <div class="promotions">


    </div>
    


</body>
</html>