<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="login-style.css">
  </head>

<body class="body">
    
<div class="login-page">

  <div class="form">
    
    <h1>Tasty burger</h1>
    <form>
      <input type="text" placeholder="Enter your rewards ID"/>
      <br>
      <br>
      <form class="customer-form">
        <button type="button" onclick="window.location.href='mainmenu.html'">BEGIN ORDER</button>
      </form>
      <p class="message"></p>
    </form>

    
      <button type="button" onclick="window.location.href='admin_login.html'">ADMIN LOG IN</button>
    
  </div>
</div>

  
</body>
</html>