{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" type="text/css" href="{% static 'mainmenu_style.css' %}">
    </head>
    <body>
        <h1>Menu</h1>
        <nav>
            <ul>
                <a href="#"><li>Log Out</li></a>
                <a href="#"><li>Order</li></a>
                <a href="#"><li>Help</li></a>
            </ul>
        </nav>

        <section class="items">
            {% for product in products %}
            <div class="item">
                <img src="C:\Users\35386\Downloads\burger-on-a-wooden-backgound.jpg">
                <h4>{{product.name}}</h4>
                <form>
                    <button type="submit" formaction="{% url 'add_to_order' id=product.id %}">Order</button>
                </form>
                <form>
                    <button type="submit" formaction="{% url 'remove_from_order' id=product.id %}">Remove</button>
                </form>
            </div>
            {% endfor %}            
        </section>
    </body>
</html>
