<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" type="text/css" href="mainmenu_style.css">
    </head>
    <body>
        <button type="button" onclick="window.location.href='login.html'">BACK</button>
        <h1>Menu</h1>
        <nav>
            <ul>
                <a href="#"><li>Log Out</li></a>
                <a href="#"><li>Order</li></a>
                <a href="#"><li>Help</li></a>
            </ul>
        </nav>

        <section class="items">
            <div class="item">
                <img src="C:\Users\35386\Downloads\burger-on-a-wooden-backgound.jpg">
                <h4>Burger</h4>
                <button>Order</button>
            </div>
            <div class="item">
                <img src="C:\Users\35386\Downloads\220_F_216788898_nP9aPoisuMzj3IvSKGxJAyCRUiSX1PGe.jpg">
                <h4>Pizza</h4>
                <button>Order</button>
            </div>
            <div class="item">
                <img src="C:\Users\35386\Downloads\220_F_126023380_C1VoNoSBkz0hJziJTVDUUFcOo9EgIfxL.jpg">
                <h4>Chips</h4>
                <button>Order</button>
            </div>
            

        </section>
    </body>
</html>