
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" type="text/css" href="{% static 'mainmenu_style.css' %}"> 
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    </head>
    <body>
        <h1>Menu</h1>
        <nav>
            <ul>
                <a href="#"><li>Log Out</li></a>
                <a href="#"><li>Order</li></a>
                <a href="#"><li>Help</li></a>
            </ul>
        </nav>

        <section class="items">
            {% for product in products %}
            <div class="item">
                <img src="{{product.image}}">
                <h4>{{product.name}}</h4>
                <form>
                    <p style="text-align: center"}>{{product.price}}</p>
                    <button type="submit" formaction="{% url 'add_to_order' id=product.id %}">Order</button>
                </form>
                <form>
                    <button type="submit" formaction="{% url 'remove_from_order' id=product.id %}">Remove</button>
                </form>
            </div>
            {% endfor %}            
        </section>
        {% block content %}
        {% endblock %}
    </body>
</html>